{% assign data = site.data.features %}

{% if data %}
    <section class="features my-3 my-md-5">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <h2 class="mb-2 mb-md-4 text-center">
                        {{ data.title }}
                    </h2>

                    {% if data.items %}
                        <div class="row">
                            <div class="col-md-4">
                                <ul class="features__nav pr-1 list-unstyled d-none d-md-block border-right" id="features-nav">
                                    {% assign i = 0 %}

                                    {% for item in data.items %}
                                        {% assign i = i | plus:1 %}

                                        {% assign active = "" %}

                                        {% if i == 1 %}
                                            {% assign active = "is-active" %}
                                        {% endif %}

                                        <li>
                                            <a href="#feature-{{ i }}" class="text-dark feature-nav js-feature-nav {{ active }}">
                                                {{ item.title }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="col-md-8">
                                <div id="features-items">
                                    {% assign j = 0 %}

                                    {% for item in data.items %}
                                        {% assign j = j | plus:1 %}

                                        {% assign active = "" %}

                                        {% if j == 1 %}
                                            {% assign active = "is-active" %}
                                        {% endif %}

                                        <article class="feature js-feature text-center {{ active }}" data-is="#feature-{{ j }}">
                                            <img src="{{ item.icon_url | relative_url }}" width="90" height="90" alt="{{ include.title }}" class="mb-1">

                                            <h3 class="mb-1 text-muted">
                                                {{ item.title }}
                                            </h3>

                                            <p>
                                                {{ item.text }}
                                            </p>

                                            {% if item.link_url and item.link_title %}
                                                <footer class="mt-1">
                                                    <a href="{{ item.link_url | relative_url }}" class="border-bottom">
                                                        {{ item.link_title }}
                                                    </a>
                                                </footer>
                                            {% endif %}
                                        </article>

                                        <hr class="my-2 my-md-3">
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <footer class="mt-2 mt-md-4 text-center">
                <a href="{{ data.action_url | relative_url }}" class="btn btn-outline-dark" target="_blank">
                    {{ data.action_title }}
                </a>
            </footer>
        </div>
    </section>
{% endif %}
