{% assign photos = include.photos %}

{% if photos %}
    <div class="photo-gallery js-photo-gallery">
        {% for photo in photos %}
        <figure data-toggle="modal" data-target="#photoGalleryModal">
            <img src="{{ photo.photo_path }}" alt="" class="img-fluid">
            <figcaption class="small">
                <b>
                    {{ photo.photo_caption }}
                </b>
            </figcaption>
        </figure>
        {% endfor %}
    </div>

    <div class="photo-gallery-modal modal fade" id="photoGalleryModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
{% endif %}
