{% assign data = site.data.banners.consultancy %}

{% if data %}
    <section class="consultancy-banner bg-secondary text-center text-md-left">
        <div class="container">
            <div class="row flex-column flex-md-row align-items-center align-items-md-end">
                <div class="col-md-8 mb-md-0">
                    <div class="py-3 py-md-5">
                        <h2 class="mb-1 text-white">
                            {{ data.title }}
                        </h2>
                        <p class="lead text-white">
                            {{ data.text }}
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="px-1 py-3 bg-white border-bottom rounded-top text-center">
                        <img src="{{ data.action_icon | relative_url }}" alt="" class="mb-1">
                        <p class="mb-1">
                            {{ data.action_text }}
                        </p>
                        <a href="{{ data.action_url | relative_url }}" class="btn btn-block btn-outline-dark">
                            {{ data.action_title }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
