{% assign data = include.data %}
{% assign social = site.data.social %}

{% if data %}
    <section class="event-banner py-3 py-md-5 bg-secondary text-center text-lg-left">
        <img src="{{ data.bg }}" alt="" class="event-banner__bg">
        <div class="event-banner__inner">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-md-2 mb-lg-0">
                        <p class="d-md-none mb-1 lead text-white text-uppercase">
                            {{ data.date }}
                        </p>
                        <h1 class="mb-1 text-white">
                            {{ data.title }}
                        </h1>
                        <p class="lead text-white">
                            {{ data.caption }}
                        </p>
                        {% if data.actions_list %}
                            <ul class="event-banner__actions mt-2 list-inline">
                                {% for item in data.actions_list %}
                                    <li class="list-inline-item">
                                        <a href="{{ item.action_url }}" class="btn {{ item.action_btn_class }}">
                                            {{ item.action_title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="col-lg-5 d-none d-md-block">
                        {% include
                            terminal.html
                            data = site.data.events.winding-tree-hackathon-prague-2018.terminal
                        %}
                    </div>
                </div>
            </div>
        </div>
        {% if social %}
            <div class="event-banner__social d-none d-md-block">
                <div class="container">
                    {%
                        include social.html
                        classlist = "social--transparent"
                        icon_size = "mdi-24px"
                    %}
                </div>
            </div>
        {% endif %}
    </section>
{% endif %}
