{
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "scss/at-extend-no-missing-placeholder": null,
    "order/properties-alphabetical-order": null,
    "max-nesting-depth": null,
    "selector-no-qualifying-type": null,
    "selector-max-id": null,
    "selector-max-compound-selectors": null,
    "color-named": null,
    "selector-class-pattern": null,
     "property-no-vendor-prefix": null
  }
}
