---
layout: event
title: Hacking the travel industry with blockchain solutions | Winding Tree Hackathon Prague 2018
description: "Winding Tree Hackathon Prague 2018 : 100 developers hacks travel industry with decentralized solutions provided by Winding Tree. 2 days of high-level education and hacking."
keywords: "winding tree, hackathon, prague, 2018, blockchain, travel"
---

{% include
    banners/winding-tree-hackathon-prague-2018.html
    data = site.data.banners.hacktraveldraft
%} 
 
{% assign data = site.data.events.hacktraveldraft %}
 
{% if data.event_summary %} 
    <section class="event-summary my-3 my-md-5">
        <div class="container">
            <div class="event-summary__list row flex-column flex-md-row justify-content-md-around">
                {% for item in data.event_summary %}
                    <div class="event-summary__item col-md-auto">
                        <dl class="text-center">
                            <dt class="h2 text-primary">{{ item.title }}</dt>
                            <dd class="lead mt-0">{{ item.description }}</dd>
                        </dl>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section> 
{% endif %}

<section class="event-summary my-3 my-md-5">
    <div class="container">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src={{data.event_video}} class="embed-responsive-item" allowfullscreen=""></iframe>
        </div>
    </div>
</section>

{% if data.event_about %}
    <section class="event-about py-3 py-md-5 bg-secondary text-center text-lg-left" style="background-image: url('{{ data.event_about.bg }}'), radial-gradient(circle at 100% 50%, #29cb96, #5f2987);">
        <div class="container">
            <div class="row justify-content-lg-between align-items-lg-center">
                <div class="col-lg-12">
                    <h2 class="mb-1 text-white">
                        {{ data.event_about.title }}
                    </h2>
                    <p class="lead text-white">
                        {{ data.event_about.text }}
                    </p>
                </div>
                
            </div>
        </div>
    </section>
{% endif %}

{% if data.event_partners %}
    <section class="event-partners py-3 py-md-5">
        <div class="container">
            <h2 class="mb-1 mb-md-2 text-center">
                {{ data.event_partners.title }}
            </h2>

            <div class="row justify-content-center align-items-center">
                {% for partner in data.event_partners.partners_list %}
                    <div class="col-auto m-1">
                        <a href="{{ partner.url | relative_url }}" target="_blank">
                            <img src="{{ partner.logo_path | relative_url }}" alt="" class="event-partners__logo">
                        </a>
                    </div>
                {% endfor %}
            </div>

            <footer class="mt-1 mt-md-2 text-center">
                <a href="{{ data.event_partners.action_url | relative_url }}" class="btn btn-outline-dark d-block d-md-inline-block" target="_blank">
                    {{ data.event_partners.action_title }}
                </a>
            </footer>
        </div>
    </section>
{% endif %}

{% if data.event_tasks %}
    <section class="event-tasks my-3 my-md-5">
        <div class="container">
            <header class="mb-2 text-center">
                <h2 class="mb-1">
                    {{ data.event_tasks.title }}
                </h2>
                <p class="lead">
                    {{ data.event_tasks.caption }}
                </p>
            </header>

            <div class="row event-tasks__list">
                {% for task in data.event_tasks.tasks_list %}
                    <div class="col-md-6 event-tasks__item">
                        <a href="{{ task.url }}" class="card h-100 event-task" target="_blank">
                            <div class="card-body">
                                <i class="mdi {{ task.icon }} event-task__icon"></i>
                                <h3 class="card-title event-task__title">
                                    {{ task.title }}
                                </h3>
                            </div>
                            <div class="event-task__text">
                                <p class="text-muted">
                                    {{ task.text }}
                                </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}

            </div>
            <footer class="mt-2 text-center">
                <a href="{{ data.event_tasks.action_url }}" class="btn btn-outline-dark d-block d-md-inline-block" target="_blank">
                    {{ data.event_tasks.action_title }}
                </a>
            </footer>
        </div>
    </section>
{% endif %}


{% if data.event_talks %}
    <section class="event-participants py-3 py-md-5">
        <div class="container">
            <header class="mb-2 text-center">
                <h2 class="mb-1">
                    {{ data.event_talks.title }}
                </h2>
                <p class="lead">
                    {{ data.event_talks.caption }}
                </p>
            </header>
            <div class="row event-participants__list">
                {% for talk in data.event_talks.talks %}
                    <div class="col-md-6 event-participants__item">
                        <a class="card participant">
                            <div class="card-body">
                                
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe src={{talk.url}} class="embed-responsive-item" allowfullscreen=""></iframe>
                                </div>
                                <div class="card-title"></div>
                                <h3 class="card-title participant__title">
                                    {{ talk.title }}
                                </h3>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <footer class="mt-2 text-center">
                <a href="{{ data.event_talks.action_url }}" class="btn btn-primary" target="_blank">
                    {{ data.event_talks.action_title }}
                </a>
            </footer>
        </div>
    </section>
{% endif %}


{% if data.event_roundtable %}
    <section class="event-register bg-secondary py-3 py-md-5" id="event-register">
        <div class="container">
            <h2 class="mb-2 text-center text-white">
                {{ data.event_roundtable.title }}
            </h2>

            <div class="row">
                
                <div class="col-md-12 event-register__group">
                    <div class="card event-register-group {{ group_bg }}">
                        <div class="card-body p-0">
                            <div class="">
                                <p class="lead">
                                    {{ data.event_roundtable.text }}
                                </p>
                            </div>                 
                        </div>
                    </div>
                </div>


            </div>
            <div class="container">
                <div class="row">
                    {% for video in data.event_roundtable.videos %}
                        <div class="col-md-6">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe src={{video.url}} class="embed-responsive-item" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <footer class="mt-2 text-center">
                <a href="{{ data.event_roundtable.action_url }}" class="btn btn-outline-light d-block d-md-inline-block" target="_blank">
                    {{ data.event_roundtable.action_title }}
                </a>
            </footer>
        </div>
        
    </section>
{% endif %}

{% if data.event_CTA %}
    <section class="event-tasks my-3 my-md-5">
        <div class="container">
            <header class="mb-2 text-center">
                <h2 class="mb-1">
                    {{ data.event_CTA.title }}
                </h2>
                <p class="lead">
                    {{ data.event_CTA.caption }}
                </p>
            </header>

            <div class="row event-tasks__list">
                {% for CTA in data.event_CTA.CTA_list %}
                    <div class="col-md-6 event-tasks__item">
                        <a href="{{ CTA.url }}" class="card h-100 event-task" target="_blank">
                            <div class="card-body" >
                                <i class="mdi {{ CTA.icon }} event-task__icon" style="color: #18e9a6"></i>
                                <h3 class="card-title event-task__title">
                                    {{ CTA.title }}
                                </h3>
                            </div>
                            <div class="event-task__text">
                                <p class="text-muted">
                                    {{ CTA.text }}
                                </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endif %}



{% if data.event_gallery %}
    <section class="event-gallery py-3 py-md-5">
        <div class="container">
            <h2 class="mb-2 text-center">
                {{ data.event_gallery.title }}
            </h2>

            <div>
                {% include
                    photo-gallery.html
                    photos = site.data.photo-gallery.photos-list-1
                %}
            </div>

            <footer class="mt-2 text-center">
                <a href="{{ data.event_gallery.action_url }} | relative_url" class="border-bottom small" target="_blank">
                    {{ data.event_gallery.action_title }}
                </a>
            </footer>
        </div>
    </section>
{% endif %}



{% include where-to-meet.html %}
