<head>
    <meta charset="utf-8">

    <title>{{ page.title }}</title>

    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="{{ page.keywords }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="{{ 'favicon.ico' | relative_url }}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,700&amp;subset=latin-ext">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/3.0.39/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">

    {% include layouts/socialtags.html %}

    <script src="{{ 'assets/js/modernizr-custom.js' | relative_url }}"></script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MDFV6QB');</script>
    <!-- End Google Tag Manager -->

</head>
