{% assign data = site.data.actions %}
{% assign social = site.data.social %}

{% if data %}
    <div class="actions py-3 py-md-5 bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg mb-2 mb-md-0">
                    <section class="px-md-2">
                        <h3 class="mb-1 mb-md-2">
                            {{ data.subscribe_title }}
                        </h3>
                        <form action="#" class="input-group">
                            <input type="email" class="form-control form-control-lg" placeholder="{{ data.subscribe_placeholder }}">
                            <div class="input-group-append">
                                <button class="btn btn-block btn-lg btn-primary" type="submit">
                                    {{ data.subscribe_submit }}
                                </button>
                            </div>
                        </form>
                    </section>
                </div>
                <div class="col-lg">
                    <section>
                        <h3 class="mb-1 mb-md-2">
                            {{ data.join_title }}
                        </h3>
                        {% if social %}
                            {% include
                                social.html
                                classlist = "justify-content-center"
                            %}
                        {% endif %}
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endif %}
