{% assign data = site.data.footer %}
{% assign social = site.data.social %}

{% if data %}
    <footer class="footer bg-secondary text-white">
        <div class="container">
            <div class="footer__row pt-2 pb-1">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{ 'assets/img/logo/sm-white.svg' | relarive_url }}" alt="{{ site.title }}" class="d-md-none mb-2">
                        <img src="{{ 'assets/img/logo/md-white.svg' | relarive_url }}" height="60" alt="{{ site.title }}" class="d-none d-md-inline">
                    </div>

                    {% if data.navigation_groups %}
                        <div class="col-md-8">
                            <div class="row">
                                {% for navigation_group in data.navigation_groups %}
                                    <div class="col-6 col-md-3">
                                        <dl class="mb-1">
                                            <dt class="mb-1">{{ navigation_group.title }}</dt>
                                            <dd>
                                                <nav class="nav flex-column small">
                                                    {% for item in navigation_group.items %}
                                                        {% if item.url %}
                                                            {% if item.url contains "mailto:" %}
                                                                <a href="{{ item.url }}" class="nav-link text-white text-truncate">{{ item.title }}</a>
                                                            {% else %}
                                                                <a href="{{ item.url | relative_url }}" class="nav-link text-white">{{ item.title }}</a>
                                                            {% endif %}
                                                        {% else %}
                                                            <span class="nav-link">
                                                                {{ item.title }}
                                                            </span>
                                                        {% endif %}
                                                    {% endfor %}
                                                </nav>
                                            </dd>
                                        </dl>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="footer__row py-1">
                <div class="d-flex flex-column-reverse flex-md-row align-items-center">
                    <div class="d-flex flex-column flex-md-row align-items-center align-items-md-baseline">
                        <small>&copy;&nbsp;{{ data.foundation_year }}&ndash;<script>document.write(new Date().getFullYear());</script>, {{ site.title }}</small>
                        <a href={{ data.developer_url }} class="ml-md-2 small text-white border-bottom">{{ data.developer_title }}</a>
                    </div>
                    {% if social %}
                        <div class="footer__social mb-1 mb-md-0 ml-md-auto">
                            {%
                                include social.html
                                classlist = "social--footer"
                                icon_size = "mdi-24px"
                            %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </footer>
{% endif %}
