{% assign data = site.data.how-to-get-lif %}

{% if data %}
    <section class="my-3 my-md-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h2 class="mb-2 mb-md-4 text-center">
                        {{ data.title }}
                    </h2>

                    <p class="lead mb-2 mb-md-3 text-center text-md-left">
                        {{ data.text }}
                    </p>

                    {%
                        include cards.html
                        cards = site.data.cards.lif_token
                        card_size = "card-sm"
                    %}
                </div>
            </div>
        </div>
    </section>
{% endif %}
