{% assign data = site.data.navbar %}

{% if data %}
    <nav class="navbar navbar-light bg-white navbar-expand-lg fixed-top" id="navbar">
        <div class="container">
            <a href="{{ '/' | relative_url }}" class="navbar-brand d-block">
                {{ site.title }}
            </a>
            <button class="navbar-toggler px-0 border-0" id="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <i class="mdi mdi-24px mdi-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if data.navbar_nav %}
                    <ul class="navbar-nav ml-auto" id="navbar-nav">
                        {% for nav_item in data.navbar_nav.nav_items %}
                            {% if nav_item.dropdown %}
                                <li class="nav-item h5 dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ nav_item.title }}
                                    </a>
                                    <div class="dropdown-menu">
                                        {% for dropdown_item in nav_item.dropdown %}
                                            <a href="{{ dropdown_item.url | relative_url }}" class="dropdown-item">
                                                {{ dropdown_item.title }}
                                            </a>
                                        {% endfor %}
                                    </div>
                                </li>
                            {% else %}
                                <li class="nav-item h5">
                                    <a href="{{ nav_item.url | relative_url }}" class="nav-link">
                                        {{ nav_item.title }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <li class="nav-item">
                            <a href="{{ data.action_url | relative_url }}" class="btn btn-block btn-primary" id="navbar-btn">
                                {{ data.action_title }}
                            </a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>
{% endif %}
