{% assign data = site.data.partners %}

{% if data %}
    <section class="partners my-3 my-md-5">
        <div class="container">
            <h2 class="mb-2 mb-md-4 text-center">
                {{ data.title }}
            </h2>

            {% if data.partners %}
                <div class="row">
                    {% for partner in data.partners %}
                        <div class="col-md-3 partner-col">
                            <a href="{{ partner.url }}" class="d-block partner">
                                <figure class="mb-2 mb-lg-0 figure">
                                    <img src="{{ partner.logo_url | relative_url }}" alt="" class="img-fluid figure-img">
                                    <figcaption class="figure-caption mt-1">
                                        {{ partner.caption }}
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="mb-2 my-md-4">
            <div class="my-1 my-md-2 partners__slider js-partners-slider">
                <span class="text-uppercase"><small><b>Already joined&nbsp;us</b></small></span>
                {% for image in site.static_files | where: "image", true %}
                    {% if image.path contains 'partners/slider-1' %}
                        <img src="{{ image.path | relative_url }}" alt='{{ image.basename }}'>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="my-1 my-md-2 partners__slider js-partners-slider">
                <span class="text-uppercase"><small><b>Already joined&nbsp;us</b></small></span>
                {% for image in site.static_files | where: "image", true %}
                    {% if image.path contains 'partners/slider-2' %}
                        <img src="{{ image.path | relative_url }}" alt='{{ image.basename }}'>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="my-1 my-md-2 partners__slider js-partners-slider">
                <span class="text-uppercase"><small><b>Tech partners</b></small></span>
                {% for image in site.static_files | where: "image", true %}
                    {% if image.path contains 'partners/slider-3' %}
                        <img src="{{ image.path | relative_url }}" alt='{{ image.basename }}'>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="container">
            <footer class="text-center">
                <a href="{{ data.action_url | relative_url }}" class="btn btn-outline-dark">
                    {{ data.action_title }}
                </a>
            </footer>
        </div>
    </section>
{% endif %}
