{% assign data = site.data.roadmap %}

{% if data %}
    <section class="roadmap my-3 my-md-5">
        <div class="container">
            <h2 class="mb-2 mb-md-4 text-center">
                {{ data.title }}
            </h2>

            {% if data.items %}
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        {% for item in data.items %}
                            <div class="roadmap-item pb-2 pb-md-4">
                                <div class="row">
                                    <div class="col-auto">
                                        <img src="{{ item.icon_url | relative_url }}" alt="" class="roadmap-item__icon">
                                    </div>

                                    <div class="col">
                                        <div class="border-top">
                                            <p class="roadmap-item__quarter small text-muted text-uppercase">
                                                {{ item.quarter }}
                                            </p>

                                            <div class="row">
                                                {% for fact_group in item.facts_groups %}
                                                    <div class="col-md-6">
                                                        <dl class="mt-1 mt-md-2">
                                                            <dt>
                                                                {{ fact_group.title }}
                                                            </dt>
                                                            {% for fact in fact_group.facts %}
                                                                <dd class="small text-muted">
                                                                    {{ fact.text }}
                                                                </dd>
                                                            {% endfor %}
                                                        </dl>
                                                    </div>
                                                {% endfor %}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endif %}

