{% assign data = site.data.roadmap %}

{% if data %}
    <section class="roadmap my-3 my-md-5" id="roadmap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h2 class="mb-2 mb-md-4 text-center">
                        {{ data.title }}
                    </h2>

                    {% if data.stage %}
                        {% for stage in data.stage %}
                            <div class="roadmap__item">
                                <header class="roadmap__header">
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <h3 class="h2">
                                                {{ stage.year }}
                                            </h3>
                                            <div class="lead">
                                                {{ stage.quarter }}
                                            </div>
                                            <div class="roadmap__toggle">
                                                <a role="button" class="js-roadmap-toggle-btn text-primary" data-toggle="collapse" href="#collapse-{{ stage.year }}-{{ stage.quarter }}" aria-expanded="{% if stage.collapsed == false %}true{% else %}false{% endif %}" aria-controls="collapse" data-target="#collapse-{{ stage.year }}-{{ stage.quarter }}" aria-expanded="false" aria-controls="collapse">
                                                    <i class="mdi mdi-{% if stage.collapsed == false %}minus-circle-outline{% else %}plus-circle{% endif %} mdi-36px"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </header>
                                <div class="roadmap__body">
                                    <div class="collapse {% if stage.collapsed == false %}show{% endif %}" id="collapse-{{ stage.year }}-{{ stage.quarter }}">
                                        <div class="roadmap__body__content">
                                            <div class="row">
                                                {% for data_group in stage.data_group %}
                                                {% assign group = forloop.index %}
                                                    <div class="col-lg-3">
                                                        <div class="roadmap__group">
                                                            <h5 class="{% if stage.active != true %}text-muted{% endif %}">
                                                                {{ data_group.title }}
                                                            </h5>
                                                            <ul class="list-unstyled roadmap__item">
                                                                {% for item in data_group.item %}
                                                                <li>
                                                                    <i class="mdi mdi-{{ item.icon }} {% if stage.active != true %}text-muted{% endif %}"></i>

                                                                        {% if item.collapsed == true %}
                                                                            <a role="button" class="collapsed {% if stage.active != true %}text-muted{% endif %}" data-toggle="collapse" href="#collapse-{{ stage.year }}-{{ stage.quarter }}-{{ group }}-{{ forloop.index }}" aria-expanded="{% if stage.collapsed == false %}true{% else %}false{% endif %}" aria-controls="collapse" data-target="#collapse-{{ stage.year }}-{{ stage.quarter }}-{{ group }}-{{ forloop.index }}" aria-expanded="false" aria-controls="collapse">
                                                                                <span title="{{ item.tooltip }}" data-toggle="tooltip" data-placement="top">{{ item.text }}</span>
                                                                            </a>
                                                                        {% else %}
                                                                            <span class="{% if stage.active != true %}text-muted{% endif %}" title="{{ item.tooltip }}" data-toggle="tooltip" data-placement="top">{{ item.text }}</span>
                                                                        {% endif %}



                                                                        {% for badge in item.badge %}
                                                                            <span class="badge badge-pill badge-secondary">{{ badge.text }}</span>
                                                                        {% endfor %}

                                                                        {% for btn in item.btn %}
                                                                            <a href="{{ btn.link }}" class="btn btn-sm btn-{{ btn.style }}" target="_blank">{{ btn.label }}</a>
                                                                        {% endfor %}

                                                                        {% if item.subitem %}
                                                                            <div class="collapse" id="collapse-{{ stage.year }}-{{ stage.quarter }}-{{ group }}-{{ forloop.index }}">
                                                                                <ul class="list-unstyled roadmap__subitem">
                                                                                    {% for subitem in item.subitem %}
                                                                                        <li>
                                                                                            <i class="mdi mdi-{{ subitem.icon }} {% if stage.active != true %}text-muted{% endif %}"></i> <span class="{% if stage.active != true %}text-muted{% endif %}" title="{{ item.tooltip }}" data-toggle="tooltip" data-placement="top">{{ subitem.text }}</span>
                                                                                        </li>
                                                                                    {% endfor %}
                                                                                </ul>
                                                                            </div>
                                                                        {% endif %}
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                </div>
            </div>
        </div>
    </section>
{% endif %}





