{% assign data = include.data %}

{% if data %}
    <section class="solutions my-3 my-md-5">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-8">
                    <header class="mb-2 mb-md-3">
                        <h2 class="text-center">
                            {{ data.title }}
                        </h2>

                        {% if data.text %}
                            <p class="mt-2 text-center text-md-left">
                                {{ data.text }}
                            </p>
                        {% endif %}
                    </header>

                    {% if data.groups %}
                        {% for group in data.groups %}
                            {% if group.tabs %}
                                <div class="solutions__code pb-2 pb-md-3 mb-2 mb-md-3 border-bottom">
                                    <ul class="nav nav-tabs row flex-nowrap" role="tablist">
                                        {% for tab in group.tabs %}
                                            {% assign tab_index = tab_index | plus:1 %}

                                            {% assign active_tab_classlist = '' %}
                                            {% assign tab_aria_selected = false %}

                                            {% if tab_index == 1 %}
                                                {% assign active_tab_classlist = 'active' %}
                                                {% assign tab_aria_selected = true %}
                                            {% endif %}

                                            <li class="nav-item col-auto">
                                                <a class="nav-link h-100 pb-2 text-dark {{ active_tab_classlist }}" data-toggle="tab" href="#code-{{ tab_index }}" role="tab" aria-selected="{{ tab_aria_selected }}">
                                                    <span class="font-weight-bold small text-uppercase">{{ tab.title }}</span>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>

                                    <div class="tab-content p-1 bg-white">
                                        {% for tab in group.tabs %}
                                            {% assign code_index = code_index | plus:1 %}

                                            {% assign active_code_classlist = '' %}

                                            {% if code_index == 1 %}
                                                {% assign active_code_classlist = 'show active' %}
                                            {% endif %}

                                            <div class="tab-pane fade {{ active_code_classlist }}" id="code-{{ code_index }}" role="tabpanel">
                                                {% highlight js %}{{ tab.code }}{% endhighlight %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                            {% if group.sections %}
                                <div class="solutions__sections mb-4 mb-md-5">
                                    {% if group.header %}
                                        <header class="solutions__header px-md-5 pt-md-2 pb-4 rounded text-center text-md-left">
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <div class="solutions__overlay d-md-none mb-2">
                                                        <img src="{{ group.header.image_url | relative_url }}" alt="{{ group.header.title }}" class="img-fluid rounded-top">
                                                    </div>

                                                    {% capture polygon %}{% cycle '1', '2', '3' %}{% endcapture %}

                                                    {% if polygon == '1' %}
                                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="520" height="330" viewBox="0 0 520 330" class="d-none d-md-block">
                                                            <defs>
                                                                <polygon id="bitmap-1-a" points="0 227.35 150.512 330 520 116.074 331.367 0 44.344 38.388"/>
                                                                <linearGradient id="bitmap-1-c" x1="50%" x2="50%" y1="20.792%" y2="100%">
                                                                    <stop offset="0%" stop-color="#29CB96"/>
                                                                    <stop offset="100%" stop-color="#5F2987"/>
                                                                </linearGradient>
                                                            </defs>
                                                            <g fill="none" fill-rule="evenodd">
                                                                <mask id="bitmap-1-b" fill="#fff">
                                                                    <use xlink:href="#bitmap-1-a"/>
                                                                </mask>
                                                                <use fill="#000" xlink:href="#bitmap-1-a"/>
                                                                <image width="520" height="330" mask="url(#bitmap-1-b)" xlink:href="{{ group.header.image_url | relative_url }}"/>
                                                                <rect width="520" height="330" fill="url(#bitmap-1-c)" mask="url(#bitmap-1-b)" opacity=".702" style="mix-blend-mode:darken"/>
                                                            </g>
                                                        </svg>
                                                    {% endif %}

                                                    {% if polygon == '2' %}
                                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="520" height="330" viewBox="0 0 520 330" class="d-none d-md-block">
                                                            <defs>
                                                                <polygon id="bitmap-2-a" points="54.915 330 0 169.672 153.16 0 520 91.637 481.019 211.646"/>
                                                                <linearGradient id="bitmap-2-c" x1="50%" x2="50%" y1="20.792%" y2="100%">
                                                                    <stop offset="0%" stop-color="#29CB96"/>
                                                                    <stop offset="100%" stop-color="#5F2987"/>
                                                                </linearGradient>
                                                            </defs>
                                                            <g fill="none" fill-rule="evenodd">
                                                                <mask id="bitmap-2-b" fill="#fff">
                                                                    <use xlink:href="#bitmap-2-a"/>
                                                                </mask>
                                                                <use fill="#000" xlink:href="#bitmap-2-a"/>
                                                                <image width="520" height="330" mask="url(#bitmap-2-b)" xlink:href="{{ group.header.image_url | relative_url }}"/>
                                                                <rect width="520" height="330" fill="url(#bitmap-2-c)" mask="url(#bitmap-2-b)" opacity=".702" style="mix-blend-mode:darken"/>
                                                            </g>
                                                        </svg>
                                                    {% endif %}

                                                    {% if polygon == '3' %}
                                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="520" height="330" viewBox="0 0 520 330" class="d-none d-md-block">
                                                            <defs>
                                                                <polygon id="bitmap-3-a" points="0 118.08 128.069 330 478.528 211.982 520 146.057 184.505 0"/>
                                                                <linearGradient id="bitmap-3-c" x1="50%" x2="50%" y1="20.792%" y2="100%">
                                                                    <stop offset="0%" stop-color="#29CB96"/>
                                                                    <stop offset="100%" stop-color="#5F2987"/>
                                                                </linearGradient>
                                                            </defs>
                                                            <g fill="none" fill-rule="evenodd">
                                                                <mask id="bitmap-3-b" fill="#fff">
                                                                    <use xlink:href="#bitmap-3-a"/>
                                                                </mask>
                                                                <use fill="#000" xlink:href="#bitmap-3-a"/>
                                                                <image width="520" height="330" mask="url(#bitmap-3-b)" xlink:href="{{ group.header.image_url | relative_url }}"/>
                                                                <rect width="520" height="330" fill="url(#bitmap-3-c)" mask="url(#bitmap-3-b)" opacity=".702" style="mix-blend-mode:darken"/>
                                                            </g>
                                                        </svg>
                                                    {% endif %}

                                                    <div class="px-1 px-md-0">
                                                        <h3 class="mb-1 text-muted">
                                                            {{ group.header.title }}
                                                        </h3>
                                                        <p>
                                                            {{ group.header.text }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </header>
                                    {% endif %}

                                    {% for section in group.sections %}
                                        <section class="pb-2 pb-md-3 mb-2 mb-md-3 border-bottom">
                                            <h6 class="mb-1 font-weight-bold small text-uppercase text-center text-md-left">
                                                {{ section.title }}
                                            </h6>

                                            {% if section.cases %}
                                                <div class="solutions__cases">
                                                    <div class="row">
                                                        {% for case in section.cases %}
                                                            <div class="col-md-6">
                                                                <a href="{{ case.link_url }}" class="d-block my-1 partner">
                                                                    <figure class="text-center text-md-left figure">
                                                                        <img src="{{ case.logo_url | relative_url }}" alt="{{ case.title }}" class="img-fluid figure-img">
                                                                        <figcaption class="figure-caption mt-1">
                                                                            {{ case.text }}
                                                                        </figcaption>
                                                                    </figure>
                                                                </a>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endif %}

                                            {% if section.integrations %}
                                                <div class="solutions__integrations">
                                                    <p class="mb-1 text-center text-md-left">
                                                        {{ section.integrations.text }}
                                                        {% if section.integrations.benefits %}
                                                            <ul>{% for benefit in section.integrations.benefits %}
                                                               <li> {{ benefit.point }} </li>
                                                            {% endfor %}
                                                            </ul>
                                                            <br>
                                                        {% endif %}
                                                    </p>

                                                    <ul class="list-inline d-flex flex-column d-md-block">
                                                        {% for link in section.integrations.links %}
                                                            <li class="list-inline-item my-1">
                                                                <a href="{{ link.url }}" class="btn btn-block btn-lg btn-light d-inline-flex align-items-center border text-capitalize">
                                                                    <i class="mdi mdi-24px mdi-github-box"></i>
                                                                    {{ link.title }}
                                                                </a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {% endif %}

                                            {% if section.partners %}
                                                <div class="solutions__partners">
                                                    <div class="row align-items-center">
                                                        {% for partner in section.partners %}
                                                            <div class="col-6 col-md-3 text-center">
                                                                <a href="{{ partner.link_url }}">
                                                                    <img src="{{ partner.logo_url | relative_url }}" alt="{{ partner.title }}" class="my-1 img-fluid">
                                                                </a>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </section>
                                    {% endfor %}

                                    <footer class="text-center">
                                        <p class="mb-2">
                                            {{ group.footer.text }}
                                        </p>

                                        <a href="{{ group.footer.action_url | relative_url }}" class="btn btn-primary">
                                            {{ group.footer.action_title }}
                                        </a>
                                    </footer>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endif %}
