{% assign data = site.data.team %}

{% if data %}
    <section class="team my-3 my-md-5">
        <div class="container">
            <h2 class="mb-2 mb-md-4 text-center">
                {{ data.title}}
            </h2>

            <div class="row">
                {% for member in data.members %}
                    <div class="col-md-4 mb-2 mb-md-4">
                        <article class="team-member media d-block d-md-flex pr-md-1 text-center text-md-left">
                            <svg xmlns="http://www.w3.org/2000/svg" width="108" height="120" viewBox="0 0 108 120" class="mb-1 mb-md-0 mr-md-1">
                                <defs>
                                    <path d="M53.5135135,0 C51.5026531,0 49.0462292,0.612640549 46.7027027,1.93548387 L6.81081081,25.1612903 C2.70204694,27.2838443 0,31.9809136 0,36.7741935 L0,83.2258065 C0,87.9373729 2.70204694,92.6344421 6.81081081,94.8387097 L46.7027027,118.064516 C49.0462292,119.346494 51.5026531,120 53.5135135,120 C56.4564123,120 58.9127966,119.346494 61.2972973,118.064516 L101.189189,94.8387097 C105.257015,92.6344421 108,87.9373729 108,83.2258065 L108,36.7741935 C108,31.9809136 105.257015,27.2838443 101.189189,25.1612903 L61.2972973,1.93548387 C58.9127966,0.612640549 56.4564123,0 53.5135135,0 Z" id="path"></path>
                                </defs>
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <mask id="mask" fill="white">
                                        <use xlink:href="#path"></use>
                                    </mask>
                                    <image mask="url(#mask)" width="108" height="120" xlink:href="{{ member.photo | relative_url }}"></image>
                                </g>
                            </svg>

                            <div class="media-body pr-md-1">
                                <h6>
                                    {{ member.name }}
                                </h6>

                                <p class="small text-muted text-uppercase">
                                    {{ member.post }}
                                </p>

                                <p class="mt-1 small text-dark">
                                    {{ member.bio }}
                                </p>

                                {% if member.social %}
                                <ul class="d-none d-md-block mt-md-1 list-inline">
                                    {% for item in member.social %}
                                    <li class="list-inline-item">
                                        <a href="{{ item.url }}" title="{{ item.title }}">
                                            <i class="mdi mdi-24px {{ item.icon }}"></i>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>

            <footer class="text-center">
                <a href="{{ data.action_url | relative_url }}" class="btn btn-outline-dark">
                    {{ data.action_title }}
                </a>
            </footer>
        </div>
    </section>
{% endif %}
