$color-gradient-primary: #29cb96;
$color-gradient-secondary: #5f2987; // #0d1134;

$radial-gradient-from-top: radial-gradient(circle at 50% 75%, $color-gradient-primary, $color-gradient-secondary 66.6%);
$radial-gradient-from-bottom: radial-gradient(circle at 50% 0, $color-gradient-primary, $color-gradient-secondary 66.6%);
$radial-gradient-from-left: radial-gradient(circle at 100% 50%, $color-gradient-primary, $color-gradient-secondary);

$image-max-width: 160px;
$image-max-height: 80px;

// Hardcoding navbar height in styles to assign a value to a property more quickly than from JS
$navbar-height: 5.5rem;
$navbar-height-md: 11rem;
