// SETTINGS - - - - - - - - - - - - - - - - - - - - - - - -

$primary: #18e9a6;
$accent: #5f2987;
$body-color: #333;
$white: #fff;
$gray-500: #808080;
$gray-400: #a9a9a9;
$gray-200: #d3d3d3;
$pink: #e6d6f3;
$green: #3fe1cb;
$spacer: 10px;


// BASE - - - - - - - - - - - - - - - - - - - - - - - -

// BODY
body {
  background-image: url('/assets/img/pages/inner/bg-left.png'),url('/assets/img/pages/inner/bg-right.png');
  background-position: 0 -100vh, 100% -100vh;
  background-repeat: repeat-y, repeat-y;
}

// HEADINGS
h3,
.h3,
.lead {font-size: 24px;}
@media (max-width: 768px) {
  h1,
  .h1 {font-size: 40px;  }

  h2,
  .h2 {font-size: 28px;  }
}


// LAYOUT - - - - - - - - - - - - - - - - - - - - - - - -

// APP FOOTER
#app-content + .footer {
  > .container .col-md-8 {
    .flex-column {display: block !important; }
  }

  @media all and (max-width: 768px) {
    > .container .col-md-8 {
      padding-left: 52px;
      padding-right: 50px;
    }
  }

  .social.list-inline {
    a {
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }
}

// APP CONTENT
#app-content {padding: 0;}

// TABS
.nav-tabs {
  .nav-link {
    &.active {
      font-weight: bold;
      background: none;
    }
  }
}


// INHERITED COMPONENTS - - - - - - - - - - - - - - - - - - - - - - - -

// MODALS
.modal-backdrop.show {
  opacity: 0.9;
}

// CARDS

.extended-card {
  //display: block !important;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  z-index: 1;
  border-color: $pink !important;
  border: 1px solid;
  
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -2;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    //color: #fff;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: $pink;
    transition: all 0.3s;
    z-index: -1;
  }

  &:hover {
    //color: lighten($gray-200, 40%) !important;

    &::before {
      width: 100%;
    };
        
    .extended-card-text,
    .extended-card-title {
      color: #000 !important;
    }
        
  }
}

@media (max-width: 768px) {
  .card-deck.card-deck-sm-stack {
    display: block;
    
    .extended-card {
      display: block !important;
    }

    .card {
      display: flex;
      flex-direction: row;
      margin-bottom: 15px !important;

      .card-header {
        background: none;
        padding: 22px;

        img {
          width: 40px !important;
          min-width: 40px;
        }
      }

      .card-body {
        text-align: left;
        padding-left: 0;

        .card-title {
          position: relative;
          padding-right: 25px;

          .mdi-chevron-right {
            display: inline-block;
            position: absolute;
            right: 0;
            top: 11px;
          }
        }
      }
    }

    .card-footer {
      display: none;

      .text-link,
      .btn-link {
        display: block;
        font-size: 0;
      }
    }
  }
}

.card-body {
  .card-title,
  > :first-child {
    .mdi-chevron-right {display: none; }
  }
}

// Link cards
a.card {
  .btn-link {
    padding-left: 0;
    padding-right: 0;

    &::after {
      left: 0;
      right: 0;
    }
  }

  &:hover .card-footer {
    .btn-link,
    .text-link {
      color: #0f3697;

      &::after {
        opacity: 0.25;
        border-bottom-color: #0f3697;
      }
    }
  }
}

// LOGO GALLERY
@media all and (max-width: 768px) {
  .logo-gallery {
    max-width: 430px;
    margin: 0 auto;

    .logo-gallery-item {
      max-width: 50%;

      img {
        max-width: 80%;
      }
    }
  }
}

// EVENTS / COLLAPSE
.ReactCollapse--collapse {
  .ReactCollapse--content {
    cursor: default;
  }

  &[style*='height: 0']
  .ReactCollapse--content {
    cursor: pointer;
  }
}

// Video Gallery
.card-video {
  &.card {
    margin-bottom: 3rem;
  }

  .card-img-top {
    position: relative;
    padding: 0;
    border: 0;
    background: $accent;

    img,
    .img-crop {
      transition: all 0.15s linear;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      pointer-events: none;
      transition: all 0.15s ease-in-out;
      opacity: 0.7;
    }

    &::before {
      width: 100px;
      height: 100px;
      margin-top: -50px;
      margin-left: -50px;
      border-radius: 50%;
      border: 4px solid #fff;
    }

    &::after {
      width: 0;
      height: 0;
      margin-top: -17px;
      margin-left: -10px;
      border-style: solid;
      border-width: 20px 0 20px 30px;
      border-color: transparent transparent transparent #fff;
    }

    &:hover {
      cursor: pointer;

      img,
      .img-crop {
        opacity: 0.15;
        // filter: blur(3px);
      }

      &::before {
        opacity: 1;
        border-color: #fff;
      }

      &::after {
        opacity: 1;
        border-left-color: #fff;
      }
    }

  }


}

// BLOCKQUOTE
.blockquote {
  .tab-pane & {
    margin-bottom: 0;
  }

  .blockquote-body {
    margin-bottom: 0;
  }
}

// ALERTS
.alert.alert-announce {
  margin: 0;
  z-index: 10000;
}

button.close > span:nth-child(1) {
  font-size: 28px;
}

// NAVBAR
html {
  // temporary fix to hice the horizontal
  // scrollbar douring the transition
  overflow-x: hidden;
}

.navbar .navbar-nav .nav-item {
  font-weight: inherit;
}

// Navbar transition

.navbar-nav--animated-btn {
  &.navbar-dark {
    &:not(.is-open) #navbar-btn {
      overflow: hidden;
      width: 0;
      margin-left: -30px;
      transition: all 0.6s ease-out;

      .btn {
        width: 0;
        transition: all 0.4s ease-out;
      }
    }
  }

  &.navbar-light {
    &.navbar-nav--animated-btn:not(.is-open) #navbar-btn {
      //width: 150px;
      transition: all 0.3s ease-out;

      .btn {
        //width: 150px;
        transition: all 0.4s ease-out;
      }
    }

  }
}


// CUSTOM APP STYLES

// Overlaps header and hero
#app-header {
  margin-bottom: -66px;
  background: none !important;
}

@media all and (min-width: 768px) {
  #app-header {
    margin-bottom: -110px;
  }
}


.cover-btn {
  position: relative;

  > a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    &:hover {cursor: default !important;}
  }
}

#app-content > .app-section:first-child::before {
  content: '';
  display: block;
  height: 66px;
}

@media all and (min-width: 768px) {
  #app-content > .app-section:first-child::before {
    height: 110px;
  }
}

// Make the menu white when opened in mobile
@media all and (max-width: 990px) {
  .navbar.navbar-dark.is-open {
    background: #fff !important;

  }

  .navbar.navbar-dark.is-open .navbar-brand {
    background-image: url('/assets/img/logo/sm-color.svg');
  }

  .navbar.navbar-dark.is-open .navbar-toggler,
  .navbar.navbar-dark.is-open a.nav-link,
  .navbar.navbar-dark.is-open a.nav-link.dropdown-toggle {
    color: #000;
  }

  .navbar.navbar-dark.is-open a.nav-link:hover {
    color: rgba(0, 0, 0, 0.9);
  }

}

.user-bio .ReactCollapse--collapse {
  padding: 0;
}

.text-link:focus {
  outline: none;
}


// HERO
.hero-homepage {
  background-color: $accent;
  background: #3553a5 url('/assets/img/banners/hero-bkg.jpg') 50% 0;
  background-size: auto 105%;

  @media all and (max-width: 990px) {
    background: #3553a5 url('/assets/img/banners/hero-bg-opt-sm.jpg') 50% 0;
  }

  @media (min-width: 768px) {
    
    border-bottom-left-radius: 100% 5%;
    border-bottom-right-radius: 100% 5%;
  }

  h1,
  .lead {
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  }

  .btn {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  }

  @media all and (min-width: 768px) {
    .star {
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 0 5px #fff;
      position: absolute;

      &.star-sm {
        width: 2px;
        height: 2px;
        box-shadow: 0 0 2px #fff;
      }
    }

    .star1 {
      top: 15%;
      left: 5%;
      animation: flickerAnimation 3s infinite;
    }

    .star2 {
      top: 40%;
      left: 10%;
      animation: flickerAnimation 4s infinite;
    }

    .star3 {
      top: 18%;
      left: 80%;
      animation: flickerAnimation 5s infinite;
    }

    .star4 {
      top: 80%;
      left: 85%;
      animation: flickerAnimation 6s infinite;
    }

    .star5 {
      top: 90%;
      left: 10%;
      animation: flickerAnimation 4s infinite;
    }

    .star6 {
      top: 20%;
      left: 30%;
      animation: flickerAnimation 5s infinite;
    }

    .star7 {
      top: 50%;
      left: 65%;
      animation: flickerAnimation 3s infinite;
    }

    .star8 {
      top: 40%;
      left: 95%;
      animation: flickerAnimation 6s infinite;
    }

    .shooting-star1 {
      animation: cometFlight 25s 3s ease infinite;
    }

    .shooting-star2 {
      animation: cometFlight2 15s ease infinite;
    }

    @keyframes flickerAnimation {
      0% { opacity: 0.9; }
      50% { opacity: 0.1; }
      100% { opacity: 0.9; }
    }

    @keyframes cometFlight {
      0% {
        top: 0;
        right: -30%;
        opacity: 1;
      }

      100% {
        top: 100%;
        right: 60%;
        opacity: 0;
      }
    }

    @keyframes cometFlight2 {
      0% {
        top: -30%;
        right: 50%;
        opacity: 1;
      }

      100% {
        top: 60%;
        right: 80%;
        opacity: 0;
      }
    }

  }
}

.hero-lisbon {
  background: linear-gradient(0deg, rgba(53, 83, 165, 0.3), rgba(255, 0, 150, 0.3)), url('/assets/img/banners/hacktravel-bg.jpg') 50% 0;
}

.short-banner-bg {
  background: linear-gradient(0deg, rgba(53, 83, 165, 0.3), rgba(255, 0, 150, 0.3)), url('/assets/img/banners/hacktravelprogram-bg.jpg') 50% 0;
}


.section-hero-cards {
  margin-top: -15rem;

  @media (min-width: 768px) {
    margin-top: -20rem;
  }

  @media (min-width: 991px) {
    margin-top: -25rem;
  }
}

// Secondary Hero
.section-hero {
  background-image: url('/assets/img/banners/bg-hero.png'), radial-gradient(circle at 100% 50%, #29cb96, #5f2987);
  background-position: center bottom, left center;
  background-repeat: no-repeat, no-repeat;
}

.hero-icon {
  @media all and (max-width: 768px) {
    max-width: 110px;
    max-height: 110px;
  }
}

// SECTION: HOW IT WORKS
.section-how-it-works {
  background: radial-gradient(415.44px at 50% 50%, #fff 0%, #f2f2f2 100%);
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}

// SECTION: SOLUTIONS
.section-solutions {
  @media all and (max-width: 768px) {
    svg {
      max-width: 220px;
      max-height: 220px;
    }
  }
}

// SECTION: TEAM
.section-team {
  padding-bottom: 0;
}

.section-team + .section-team {
  padding-top: 20px;
  padding-bottom: 20px;
  @media all and (max-width: 768px) {
    padding-bottom: 30px;
  }
}

// SECTION: DEVELOPERS AND CONTRIBUTORS
.devs-marquee,
.slider-partners {
  overflow: hidden;
}

// SECTION: ROADMAP
.section-roadmap {
  .roadmap__item {
    position: relative;

    .text-muted {color: $gray-400 !important;}

    .roadmap__header {
      overflow: hidden;

      .lead.text-muted.mb-0 {
        position: relative;
        top: -3px;
      }

      // line before
      .roadmap__toggle {
        position: relative;
        z-index: 1;
        padding-bottom: 40px;
        // background: $white; // is it necesary?
        &::after {
          content: '';
          display: block;
          height: 40px;
          position: absolute;
          left: 50%;
          margin-left: -1px;
          border-left: 4px dotted $primary;
        }
      }
    }


    .roadmap__body {
      .ReactCollapse--collapse {
        padding: 0;
      }

      .roadmap__body__content {
        position: relative;
        padding-bottom: 30px;

        @media all and (min-width: 992px) {
          padding: 40px 0 70px;
        }

        // line after
        &::after {
          content: '';
          display: block;
          position: absolute;
          height: 40px;
          left: 50%;
          bottom: 5px;
          margin-left: -1px;
          border-left: 4px dotted $primary;
        }

        .roadmap__group {
          margin-bottom: $spacer * 2;
          padding: $spacer * 3;
          border: 1px solid $gray-200;
          border-radius: 4px;
          box-shadow: 0 0.5rem 2rem 0 rgba(16, 57, 87, 0.1);

          @media all and (min-width: 992px) {
            margin-bottom: $spacer;
            padding: 0;
            border: 0;
            border-radius: 0;
            box-shadow: none;
          }

          ul {
            &.pl-200 {
              @media all and (max-width: 768px) {
                padding-left: 100px;
                padding-right: 100px;
              }
            }
          }

          li {
            margin-top: 10px;
            .mdi {float: left; }

            > span {
              display: block;
              padding-left: 25px;
            }

            &:hover {
              cursor: default;
            }

            .roadmap__subitem & {
              padding-left: 35px;
              .mdi {margin-left: -18px;}
            }
          }

          .badge {text-transform: uppercase;}

          .badge,
          .btn {
            margin-left: 7px;
            padding: 5px 10px;
            font-size: 11px;
            font-weight: 400;
            margin-top: 5px;
            text-transform: none;
          }

          h5 {
            text-align: center;
            padding-bottom: 20px;

            &.pt-40 {
              @media all and (min-width: 992px) {
                padding-top: 40px;
              }
            }

            &.main-group {
              font-size: 3rem;
            }
          }


          a:not(.btn) {
            position: relative;
            color: $body-color;

            &::after {
              content: '';
              position: absolute;
              bottom: -1px;
              left: 0;
              right: 0;
              width: 100%;
              border-top: 1px dashed $gray-500;
            }
          }

          .mdi {
            color: #7c3fa9;

            &.mdi-circle-slice-4::before {
              transform: scale(-1, 1);
              filter: FlipH;
            }

            &:not(.mdi-checkbox-marked-circle)::before {
              font-weight: bold;
            }
          }

        }

      }
    }



    &:last-of-type {

      // line before
      .roadmap__header {
        .roadmap__toggle {
          padding-bottom: 0;

          &::after {
            display: none;
          }
        }
      }

      .roadmap__body__content {
        padding: 40px 0 0;

        @media all and (min-width: 992px) {
          padding: 80px 0 0;
        }

        // line after
        &::after {
          top: 0;
        }

        @media all and (max-width: 768px) {
          .col-lg-3:nth-child(4) .roadmap__group {
            margin: 0;
          }
        }
      }
    }

  }

}

// PAGE ERROR 404
#app-content.content-error {
  .app-section {
    min-height: calc(100vh);
  }

  + footer.footer {
    position: fixed;
    background: none !important;
    left: 0;
    bottom: 0;
    right: 0;

    .footer__row {
      display: none;
    }
  }
}


// HELPERS - - - - - - - - - - - - - - - - - - - - - - - -

.img-crop {
  overflow: hidden !important;
  padding-bottom: 65%;
  height: 0 !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 50% !important;
  border-radius: 4px 4px 0 0;
}

.display-linebreak {
  white-space: pre-wrap;
}

.contact-thumbnail {
  &:hover {
    img {
      filter: opacity(0.2) drop-shadow(0 0 0 $accent);
    };
  }

}

.galleryContainer {
  display: flex;
  background: no-repeat center;
  height: 550px;
  border-radius: 4px;
  background-size: cover;
  position: relative;


  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $accent;
    opacity: 0.7;
    border-radius: 4px;
  }

  &:hover {
    //cursor: pointer;

    &::before {
      opacity: 0.5;
    }
  }

  @media all and (max-width: 768px) {
    height: 300px;
  }
}

.centered-item {
    
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
    

}

.bg-pink {
  background-color: $pink;
}

.bg-green {
  background-color: $green;
}

.inline {
  display: inline-block;
}

.shadow {
  
  box-shadow: 0 0.5rem 2rem 0 rgba(16, 57, 87, 0.3) !important;
  
}

.footer-link:hover {
  color: #808080 !important;
}

.line-2 {
  line-height: 2;
}

.leaflet-container {
  height: 400px;
  width: 800px;
}

.card-news {
  .card-img-top {
    position: relative;
    
    padding: 0;
    border: 0;
    background: $white;

    .img-crop {
      height: 200px;

      &:hover {
        opacity: 0.5;
        
  
      }
    }

    .news-card-title {
      position: absolute;
      bottom: 0;
      left: 0;
      background: $accent;
      width: 100%;
      border-radius: 0 0 4px 4px;
      color: white;
      vertical-align: middle;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &:hover {
      cursor: pointer;

    }

    

  }


}
