//Body
body {
  background-image: url('../img/bg-left.png'),url('../img/bg-right.png');
  background-position: 0 -100vh, 100% -100vh;
  background-repeat: repeat-y, repeat-y;
}
// Navbar
.navbar .navbar-nav .nav-item {
  font-weight: inherit;
}
