$event-section-box-shadow-100: 0 10px 20px 0 rgba(0, 0, 0, .1);
$event-section-box-shadow-200: 0 10px 20px 0 rgba(0, 0, 0, .2);

// Event page
.event-page {
    .footer {
        background-color: $color-gradient-secondary !important;
        background-image: radial-gradient(circle at 50% -50%, $color-gradient-primary, $color-gradient-secondary 75%);
        background-position: bottom center;
        background-repeat: no-repeat;
    }
}

// Event summary
.event-summary {
    &__list {
        margin: -#{$spacer} 0;
    }

    &__item {
        margin: $spacer 0;
    }

    @include media-breakpoint-down('sm') {
        // .lead {
        //     @include scale(62.5%, up);
        // }
    }
}

// Event about
.event-about {
    @include media-breakpoint-down(md) {
        background-color: $color-gradient-secondary !important;
        background-image: $radial-gradient-from-left !important;
        background-position: left center;
        background-repeat: no-repeat;
    }

    @include media-breakpoint-up(lg) {
        background-color: $color-gradient-secondary !important;
        background-position: right center, left center;
        background-repeat: no-repeat, no-repeat;
        background-size: 50%, auto;
    }

    [data-counter-caption] {
        position: relative;
        width: 7.5rem;
        white-space: nowrap;

        &::after {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            margin-top: .5rem;
            font-size: 2rem;
            line-height: 2rem;
            content: attr(data-counter-caption);
        }
    }
}

// Event participants
.event-participants {
    box-shadow: $event-section-box-shadow-100;

    &__list {
        margin-bottom: -2rem;

        @include media-breakpoint-up('md') {
            margin-bottom: -3rem;
        }
    }

    &__item {
        margin-bottom: 2rem;

        @include media-breakpoint-up('md') {
            margin-bottom: 3rem;
        }

        .card-body {
            flex: 0 0 auto;
        }
    }


    &__group {
        &:not(:last-child) {
            margin-bottom: 3rem;

            @include media-breakpoint-up('md') {
                margin-bottom: 6rem;
            }
        }
        li {
            line-height: 4rem;
        }
    }

    &__icon {
        @include media-breakpoint-up('md') {
            width: 90%;
        }
    }

    @include media-breakpoint-down('sm') {
        h2 {
            @include scale(81.25%, up);
        }

        // .lead {
        //     @include scale(62.5%, up);
        // }
    }

    .participant {
        min-height: 200px;
        text-align: center;

        @include media-breakpoint-up('md') {
            min-height: 340px;
        }

        @include hover {
            background: $gray-200;
            transform: translateY(0) !important;
        }

        &__imagecontainer {
            padding-bottom: 2rem;
            padding-top: 2rem;
        }

        &__icon {
            display: inline-block;
            vertical-align: top;
        }

        &__title {

            @include media-breakpoint-down('sm') {
                @include scale(81.25%, up);
            }

            @include media-breakpoint-up('md') {
            }
        }

        &__text {
            text-align: left;
            color: $black;
            padding: 0 3rem 4rem;

            li {
                padding-bottom: 10px;
            }
        }
}
}

// Event program
.event-program {
    background: rgba($black, .05);
    box-shadow: $event-section-box-shadow-200;

    &__list {
        margin-bottom: -2rem;

        @include media-breakpoint-up('md') {
            margin-bottom: -3rem;
        }
    }

    &__item {
        margin-bottom: 2rem;

        @include media-breakpoint-up('md') {
            margin-bottom: 3rem;
        }
    }
}

.event-program-item {
    @include hover {
        .event-program-item__img-wrap::after {
            background: rgba($black, .4);
        }
    }

    &__img-wrap {
        position: relative;
        overflow: hidden;

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            background: rgba($black, .6);
            content: "";
            transition: $transition-base;
            will-change: background;
        }
    }

    &__img {
        position: relative;
        z-index: 1;
    }

    &__logo {
        @include media-breakpoint-up('md') {
            position: absolute;
            top: 2rem;
            right: 2rem;
            z-index: 3;
        }
    }

    &__img-over {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 3;
        padding: 2rem 3rem;
    }

    &__title {
        @include media-breakpoint-down('sm') {
            margin: .5rem 0;
        }
    }

    .card-body {
        padding: 3rem 3rem 5rem;
    }
}

// Event tasks
.event-tasks {
    &__list {
        margin-bottom: -2rem;

        @include media-breakpoint-up('md') {
            margin-bottom: -3rem;
        }
    }

    &__item {
        margin-bottom: 2rem;

        @include media-breakpoint-up('md') {
            margin-bottom: 3rem;
        }

        .card-body {
            flex: 0 0 auto;
        }
    }
}

.event-task {
    min-height: 200px;
    text-align: center;

    @include media-breakpoint-up('md') {
        min-height: 340px;
    }

    @include hover {
        background: $gray-200;
        transform: translateY(0) !important;
    }

    &__icon {
        display: inline-block;
        margin-top: -2rem;
        color: $black;
        font-size: 10rem;
        vertical-align: top;
    }

    &__title {
        margin-top: -1rem;

        @include media-breakpoint-down('sm') {
            @include scale(81.25%, up);
        }

        @include media-breakpoint-up('md') {
            margin-top: -2rem;
        }
    }

    &__text {
        //margin-top: -2rem;
        padding: 0 3rem 4rem;
    }
}

// Event register
.event-register {
    background-color: $color-gradient-secondary !important;
    background-image: $linear-gradient-to-top;
    background-position: center bottom;
    background-repeat: no-repeat;

    &__groups {
        margin-bottom: -2rem;

        @include media-breakpoint-up('md') {
            margin-bottom: -3rem;
        }
    }

    &__group {
        margin-bottom: 2rem;

        @include media-breakpoint-up('md') {
            margin-bottom: 3rem;
        }
    }

    &__subtitle {
        font-size: 3.6rem;
    }
}

.event-register-group {
    padding: 3rem 3rem 5rem;
    transition: $transition-base;

    @include hover {
        opacity: .9;
    }

    &--pay {
        background: #d4d4d4;
    }
}

// Event partners
.event-partners {
    box-shadow: $event-section-box-shadow-100;

    &__logo {
        max-width: 160px;
        max-height: 80px;
    }
}

// Event gallery
.event-gallery {
    box-shadow: $event-section-box-shadow-100;
}
