.lif-token-banner {
  background-image: url('https://windingtree.com/assets/img/banners/lif-token-bg.svg'),radial-gradient(circle at 100% 50%, #29cb96, #5f2987);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain, auto;
}
