.ready-to-use {
    background-color: $color-gradient-secondary !important;
    background-image: $radial-gradient-from-bottom;
    background-position: bottom center;
    background-repeat: no-repeat;

    @include media-breakpoint-up('md') {
        background-image: url($baseurl + "/assets/img/layouts/ready-to-use/bg.png"), $radial-gradient-from-bottom;
        background-position: center bottom, bottom center;
        background-repeat: no-repeat, no-repeat;
    }
}
