.open-source-banner {
    background-color: $color-gradient-secondary !important;
    background-image: $radial-gradient-from-left;
    background-position: left center;
    background-repeat: no-repeat;

    &__icon.mdi { // Increasing specifity
        &:before {
            font-size: 80px;
            line-height: 80px;

            @include media-breakpoint-up(lg) {
                font-size: 200px;
                line-height: 200px;
            }
        }
    }
}
