.features {
    hr {
        &:last-of-type {
            display: none;
        }

        @include media-breakpoint-up('md') {
            display: none;
        }
    }

    &__nav {
        > li {
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }
}

.feature-nav {
    @include media-breakpoint-up('md') {
        &.is-active {
            font-weight: bold;
        }
    }
}

.feature {
    @include media-breakpoint-down('sm') {
        display: block !important;
    }

    @include media-breakpoint-up('md') {
        display: none;

        &.is-active {
            display: block;
        }
    }
}
