.partners {
    &__slider {
        max-height: 80px;
        opacity: 0;
        pointer-events: none;
        transition: $transition-base;
        will-change: transition;

        &:nth-of-type(even) {
            direction: rtl;
        }

        &.slick-initialized {
            opacity: 1;

            .slick-track {
                display: flex;
                align-items: center;
            }

            .slick-slide {
                padding: 0 4rem;
            }
        }

        img {
            max-width: $image-max-width;
            max-height: $image-max-height;
            width: auto !important;
        }
    }
}

.partner-col {
    @include media-breakpoint-down('sm') {
        &:nth-of-type(n+3) {
            display: none;
        }
    }
}

.partner {
    @include media-breakpoint-up('md') {
        position: relative;
        padding-top: $image-max-height;
    }

    @include hover {
        img {
            filter: grayscale(0);
        }
    }

    img {
        max-width: $image-max-width;
        max-height: $image-max-height;
        transition: $transition-base;
        will-change: filter;
        filter: grayscale(100%);

        @include media-breakpoint-up('md') {
            position: absolute;
            top: 40px;
            left: 0;
            transform: translateY(-50%);
            backface-visibility: hidden; // fix transform glitch in -webkit
        }
    }
}
