.social {
    @include media-breakpoint-down('sm') {
        margin: 0 -1.5rem !important;
    }

    li {
        @include media-breakpoint-down('sm') {
            margin: 0 1.5rem !important;
        }
    }

    a {
        color: $black;

        @include hover {
            color: rgba($black, .3);
        }
    }

    &.social--banner {
        a {
            color: $white;

            @include hover {
                color: rgba($white, .7);
            }
        }
    }

    &.social--footer {
        li {
            &:not(:last-child) {
                @include media-breakpoint-up('md') {
                    margin-right: 3rem;
                }
            }
        }

        a {
            color: rgba($white, .3);

            @include hover {
                color: $white;
            }
        }
    }
}
