.social {
    @include media-breakpoint-down('sm') {
        margin: 0 -1.5rem !important;
    }

    li {
        @include media-breakpoint-down('sm') {
            margin: 0 1.5rem !important;
        }


    }

    a {
        color: $black;

        @include hover {
            color: rgba($black, .3);
        }
    }

    &.social--footer {
        a {
            color: rgba($white, .3);

            @include hover {
                color: $white;
            }
        }
    }
}
