<!doctype html>

<html lang="en" class="mod_no-js">
    {% include layouts/head.html %}

    {% assign body_class = "inner-page" %}

    {% if page.url == "/" %}
        {% assign body_class = "index-page" %}
    {% endif %}

    <body class="{{ body_class }}">
        {% include layouts/navbar.html %}

        <main>
            {{ content }}
        </main>

        {% include layouts/actions.html %}
        
        {% include layouts/ready-to-use.html %}

        {% include layouts/footer.html %}

        {% include layouts/scripts.html %}
    </body>
</html>
