<!doctype html>

<html lang="en" class="mod_no-js">
    {% include layouts/head.html %}

    <body class="event-page">
            <div class="alert alert-info alert-dismissible fade show" role="alert" style="z-index: 99999999">
                    <div class="container my-2 my-md-2">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="row justify-content-center">
                            <div class="col-md-8">
                                <p>Participating in the Hackathon? <a href="https://blog.windingtree.com/your-hacktravel-hackathon-checklist-1641b20e1139">Here's</a>
                                    everything you need to maximize your experience - schedule, communication channels, resources</p>
                            </div>
                        </div>
                    </div>
                </div>
        {% include layouts/navbar.html %}

        <main>
            {{ content }}
        </main> 

        {% include layouts/footer.html %}

        {% include layouts/scripts.html %}
    </body>
</html>
