<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="{{ 'favicon.ico' | relative_url }}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,700&amp;subset=latin-ext">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.4.85/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">

    <script src="{{ 'assets/js/modernizr-custom.js' | relative_url }}"></script>

    <title>{{ page.title }}</title>
</head>
