{% assign data = site.data.layouts.ready-to-use %}

{% if data %}
    <section class="ready-to-use py-3 py-md-5 bg-secondary">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-8">
                    <h2 class="mb-1 text-white">
                        {{ data.title }}
                    </h2>
                    <p class="mb-1 mb-md-2 text-white">
                        {{ data.text }}
                    </p>
                    <footer>
                        <a href="{{ data.action_url | relative_url }}" class="btn btn-outline-light" target="_blank">
                            {{ data.action_title }}
                        </a>
                    </footer>
                </div>
            </div>

            <div class="d-none d-md-block mt-4">
                {%
                    include cards.html
                    cards = site.data.cards.default
                %}
            </div>
        </div>
    </section>
{% endif %}
