// HERO
.hero-homepage {
  background-color: #5F2987;
  // background-image: url(./img/bg.svg),radial-gradient(circle at 50% 100%, #29cb96, #5f2987 66.6%);
  background-image: url(./img/bg.svg),radial-gradient(circle at 50% 105%, #08ed87, #5f2987 67%);
  background-position: 50% 99vh, 50% 0;
  background-repeat: no-repeat, no-repeat;
  background-size: 170vw auto, auto;

  @media (min-width: 768px) {
    transform: scaleX(1.05) translateZ(0);
    background-position: 50% 40rem, 50% 0;
    background-size: 95% auto, auto;
    border-bottom-left-radius: 100% 5%;
    border-bottom-right-radius: 100% 5%;
  }

  @media (min-width: 991px) {
    background-position: 50% 45rem, 50% 0;
  }

}

.section-hero-cards {
  margin-top: -15rem;

  @media (min-width: 768px) {
    margin-top: -20rem;
  }

  @media (min-width: 991px) {
    margin-top: -25rem;
  }
}

