// Navbar transition

// Uncomment the code to enable the transition
// navbar must have the "navbar-dark" class by default and
// turn to "navbar-light" after scrolling.
// The navbar must have the class "is-open" when expanded, so the menu has white background

.navbar {
  background: #5F2B87;
  box-shadow: none !important;

  &.navbar-light {
    background: #fff;
  }

  @media (min-width: 768px) {
    &.navbar-light .nav-item:last-child {
        width: 100px;
    }
    &.navbar-dark {
      & .nav-item:last-child {
        transition: width 0.15s ease-in-out;
        width: 0;
      }
    }
  }

  @media (max-width: 767px) {
    &.navbar-dark {
      &.is-open {
        transition: background-color 0.15s ease-in-out;
        background-color: #fff;
      }
    }
  }
}


.hero-homepage {
  background-color: #5F2987;
  // background-image: url(./img/bg.svg),radial-gradient(circle at 50% 100%, #29cb96, #5f2987 66.6%);
  background-image: url(./img/bg.svg),radial-gradient(circle at 50% 105%, #08ed87, #5f2987 67%);
  background-position: 50% 99vh, 50% 0;
  background-repeat: no-repeat, no-repeat;
  background-size: 170vw auto, auto;

  @media (min-width: 768px) {
    transform: scaleX(1.05) translateZ(0);
    background-position: 50% 40rem, 50% 0;
    background-size: 95% auto, auto;
    border-bottom-left-radius: 100% 5%;
    border-bottom-right-radius: 100% 5%;
  }

  @media (min-width: 991px) {
    background-position: 50% 45rem, 50% 0;
  }

}

.section-hero-cards {
  margin-top: -15rem;

  @media (min-width: 768px) {
    margin-top: -20rem;
  }

  @media (min-width: 991px) {
    margin-top: -25rem;
  }
}

